<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="EnterpriseWireless" value="https://nuget.pkg.github.com/enterprisewireless/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="EnterpriseWireless">
            <package pattern="EWA.*" />
        </packageSource>

        <packageSource key="nuget">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>

    <!-- Setup a GitHub personal access token to authenticate to enterprisewireless nuget registry: https://ewaprojects.atlassian.net/wiki/spaces/C20/pages/1635844097/Developer+Getting+Started+Guide#NxGen-Shared-Nuget-Packages -->
    <packageSourceCredentials>
        <EnterpriseWireless>
            <add key="Username" value="%GITHUB_USERNAME%" />
            <add key="ClearTextPassword" value="%GITHUB_PAT%" />
        </EnterpriseWireless>
    </packageSourceCredentials>
</configuration>
